language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

dist: xenial

sudo: false

matrix:
  include:
    - os: osx
      osx_image: xcode10.1
      language: generic
      env: PY_VER=2.7.15

    - os: osx
      osx_image: xcode10.1
      language: generic
      env: PY_VER=3.7.2
    

addons:
  apt:
    packages:
    - ffmpeg

  homebrew:
    packages:
    - pyenv
    - ffmpeg
    - libmagic
    #update: true

before_install: |
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      eval "$(pyenv init -)";
      PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install $PY_VER;
      pyenv global $PY_VER;
  fi

install:
  - python setup.py install
  - pip install -U pytest coverage pytest-cov codecov python-magic

script:
  - python setup.py test

after_success:
  - codecov

